<md-dialog aria-label="LoginDialog" ng-init="init()" layout="column">
    <md-toolbar style="min-height: 30px;background: #3c3c3c;">
        <h2 style="color:white;padding: 0 5px;font-weight: normal;">IziFid</h2>
    </md-toolbar>

    <div class="form-panel modal-body">
        <div>
            <md-input-container>
                <label>Login</label>
                <input ng-model="model.login" ng-enter="ok()">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="model.password" ng-enter="ok()">
            </md-input-container>
        </div>
    </div>


    <div layout="row" layout-padding layout-align="end center">
        <button class="btn hvr-grow no-radius ink" style="margin-left:5px;margin-right:5px;background: #22C065;color: white;border-radius: 0;"
                ng-click="ok()">
            OK
        </button>
    </div>

</md-dialog>
