<ion-view view-title="Fidélité">
    <ion-content class="padding" style="height: 100% !important; -webkit-overflow-scrolling: touch !important;">
        <div style="padding-top: 58px; height: 100% !important;">
            <!--<h2 class="text-center balanced" style="font-family: Bevan, Helvetica, sans-serif !important; margin-bottom: 0 !important">FIDÉLITÉ</h2>-->
            <izi-account client-url="http://ffpizza.izipass.pro" barcode="{{cardNum}}" theme="light"
                         auto="false"></izi-account>
        </div>
    </ion-content>
</ion-view>

