<ion-view view-title="Fidélité">
    <ion-content class="padding" style="height: 100% !important; -webkit-overflow-scrolling: touch !important;">
        <div style="padding-top: 40px; height: 100% !important;">
            <izi-account client-url="http://miga.izipass.pro"
                         firebase="https://widget-generator.firebaseio.com/miga"
                         barcode="{{cardNum}}" theme="light"
                         auto="false"></izi-account>
        </div>
    </ion-content>
</ion-view>

