<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.izipass.ffpizza" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bellacci</name>
    <description>
        Gestion Fidélité Bellacci
    </description>
    <author email="louis.teboul@izi-pass.com" href="http://izipass.pro">
        IZIPASS
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="KeyboardShrinksView" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
    <icon src="resources/ios/icon/icon-72@2x.png"/>
    <splash src="resources/ios/splash/Default@2x~iphone.png"/>

    <platform name="ios">
        <icon src="resources/ios/icon/icon-72@2x.png" gap:platform="ios" width="144" height="144"/>
        <icon src="resources/ios/icon/icon@2x.png" gap:platform="ios" width="114" height="114"/>
        <icon src="resources/ios/icon/icon-72.png" gap:platform="ios" width="72" height="72"/>
        <icon src="resources/ios/icon/icon.png" gap:platform="ios" width="57" height="57"/>
        <gap:splash src="resources/ios/splash/Default-Landscape~ipad.png" gap:platform="ios" height="768" width="1024"/>
        <gap:splash src="resources/ios/splash/Default-Portrait~ipad.png" gap:platform="ios" height="1024" width="768"/>
        <gap:splash src="resources/ios/splash/Default-568h@2x~iphone.png" gap:platform="ios" height="1136" width="640"/>
        <gap:splash src="resources/ios/splash/Default@2x~iphone.png" gap:platform="ios" height="960" width="640"/>
        <gap:splash src="resources/ios/splash/Default~iphone.png" gap:platform="ios" height="480" width="320"/>
    </platform>
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0"/>
</widget>
