/* Empty. Add your own CSS if you like */
h1, h2, h3, h4, h5 {
    font-family: "Amatic SC", "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.2em;
}

p, a, b, label, input, li, span, small {
    font-family: "Amatic SC", "Bookman", Georgia, "Times New Roman", serif !important;
}

@media screen and (max-width: 420px) {
    .barcode-container {
        width: 100%;
    }
}

.izi-account h2 {font-weight: 700 !important;}