/* Empty. Add your own CSS if you like */
h1, h2, h3, h4, h5, p, a, b, label, li, span, small {
    font-family: 'Amatic SC', "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

input {
    font-family: 'Raleway', "Bookman", Georgia, "Times New Roman", serif !important;

@media screen and (max-width: 420px) {
    .barcode-container {
        width: 100%;
    }
}