@media screen and (max-width: 420px) {
    .barcode-container {
        width: 100%;
    }
}

@media screen and (min-width: 299px) {
    .barcode-container.visible-xs {
        padding-left: 45px;
    }
}

@media screen and (max-width: 298px) {
    .barcode-container.visible-xs {
        padding-left: 2px;
    }
}

.izi-account h2 {
    font-weight: 700 !important;
}