$mainFont: Oswald, "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondaryFont: $mainFont;

$accentColor: #33cd5f;

h1, h2, h3, h4, h5 {
  font-family: $mainFont;
}

p, a, b, label, input, li, span, small {
  font-family: $secondaryFont;
}

h1.title {
  text-align: center;
  margin-bottom: 2px;
  margin-left: -60px;
  font-weight: 600;
  font-size: 1.35em;
  color: $accentColor;
}

.button-fab.ion-qr-scanner {
  z-index: 999;
  top: 22px;
}